.header {
  grid-area: h;
  background-color: rgba(255, 198, 124, 0.596);
  border-radius: 10px;
}

.header img {
  width: 50px;
  margin: 4px 10px;
  border-radius: 10px;
}

.loginBlock {
  float: right;
  margin-right: 10px;
}
.loginBlock > a {
  color: rgb(88, 88, 88);
  text-decoration: none;
}

.loginBlock > div > span {
  color: rgb(88, 88, 88);
  margin-left: 10px;
  cursor: pointer;
}
.loginBlock > div > span:hover,
.loginBlock > a:hover {
  color: #000;
}
