input {
  padding: 5px;
  font-size: 1.3rem;
  border-radius: 10px;
  border: 1px solid black;
  outline: none;
}

button {
  margin: 5px 0;
  padding: 3px;
  border: 1px solid gray;
  border-radius: 10px;
}
.errorText {
  color: red;
  margin-left: 4px;
}
.fullArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}
